<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\python\python.exe"
                  arguments="%HOME%\python\app.py --port %HTTP_PLATFORM_PORT%"
                  stdoutLogEnabled="false"
                  startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
